<ion-header>
  <ion-toolbar>
    <ion-title class="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list > 
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
      <ion-icon [name]="c.icon" slot="start" class="primary"></ion-icon>
      {{c.name}}

    </ion-item>
  </ion-list>


 <!--  <ion-button routerLink="/alert">
    alert

  </ion-button>
  <ion-button routerLink="/action-sheet">
    action-sheet

  </ion-button> -->




</ion-content>
